{% import '_includes/forms' as forms %}

<div class="element">

    {{ forms.color(
    {
        id: pickerId,
        name: name ~ '_picker',
        value: value,
        instructions : false,
        title: 'Select a color...'
    }
    ) }}

    {{ forms.text(
    {
        id: inputId,
        name: name,
        value: value,
        instructions : false,
        placeholder : '(None)',
        unit : '',
        title: "Enter a hex color code, or leave blank for 'no color'.",
        size: 8,
        class: 'big',
        style: 'vertical-align: top; height: 36px; line-height: 36px; padding: 6px 12px;'
    }
    ) }}

    <span style="vertical-align: 15%; padding-left: 5px;">
    <a id="{{ clearButtonId }}" class="delete icon" title="Clear color..." role="button"></a>
    </span>

</div>


{% set pickerJs %}

    var ${{ pickerId }} = $('[name="{{ (name~'_picker')|namespaceInputName }}"]');
    var ${{ inputId }} = $('#{{ inputId|namespaceInputId }}');
    var ${{ clearButtonId }} = $('#{{ clearButtonId|namespaceInputId }}');

    ${{ clearButtonId }}.on('click', function(e){
        ${{ pickerId }}.val(null);
        ${{ inputId }}.val(null).trigger('change');
    });

    ${{ inputId }}.on('keyup change', function(e){

        var color = ${{ inputId }}.val().replace('#', '').substring(0,6);
        ${{ pickerId }}.val( '#'+color );

        // If we're in a browser that doesn't support the `color` input type natively,
        // Craft will have replaced that input with a JS colorpicker.
        if ( ${{ pickerId }}.attr('type') == 'hidden' )
        {
            // Set the picker color
            ${{ pickerId }}.parent().ColorPickerSetColor(color);
            // Update the preview swatch
            ${{ pickerId }}.siblings('.colorpreview').css('backgroundColor', (color.length ? '#'+color : 'transparent'));
        }

    });

    ${{ pickerId }}.on('keyup change', function(e){
        ${{ inputId }}.val( ${{ pickerId }}.val() );
    });

    // Trigger change event on hidden input elements, which
    // are used in browsers without native color input support
    if ( ${{ pickerId }}.attr('type') == 'hidden' )
    {
        (function ($picker) {

            // Preserve the existing onChange callback
            var cal = $('#' + $picker.parent().data('colorpickerId'));
            var existingOnChange = cal.data('colorpicker').onChange;
            // Update the onChange callback
            cal.data('colorpicker').onChange = function () {
                existingOnChange.apply(this, arguments);
                $picker.trigger('change');
            };

        })(${{ pickerId }});
    }

{% endset %}

{% includeJs pickerJs %}
